@import "tailwindcss";

@theme {
  --font-brand: "Edu VIC WA NT Hand", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-mobile: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;

  --container-column-main: 656px;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / 0.625);

  --color-backdrop: var(--color-neutral-900);
  --color-filling: var(--color-stone-800);
  --color-highlight: var(--color-stone-700);
  --color-link: var(--color-blue-500);
  --color-link-active: var(--color-blue-400);
  --color-danger: var(--color-red-500);
  --color-danger-active: var(--color-red-400);
  --color-fg: var(--color-white);
  --color-fg-muted: var(--color-neutral-400);
  --color-fg-disabled: var(--color-neutral-600);
  --color-fg-link: var(--color-blue-400);
  --color-fg-link-active: var(--color-blue-300);
  --color-fg-danger: var(--color-red-400);
  --color-fg-danger-active: var(--color-red-300);
  --color-fg-like: var(--color-pink-400);
}

@layer base {
  html {
    @apply scrollbar-gutter-stable font-sans;
  }

  body {
    @apply bg-backdrop text-fg;
  }

  a {
    @apply text-fg-link;
  }

  a:active {
    @apply text-fg-link-active;
  }
}
